.card {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

.headerCardSection {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}