.centerBase {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0px;
  transform: translate(-50%, -50%);
  border-radius: 15px 15px 15px 15px;
  min-height: 60%;
  min-width: 91%;
  margin-left: -4px !important;
  width: 50%;
  background: linear-gradient(0deg, rgba(234, 237, 240, 1) 5%, rgba(255, 255, 255, 0.685) 40%);
}

.centerBaseOrder {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0px;
  transform: translate(-50%, -50%);
  border-radius: 15px 15px 15px 15px;
  min-height: 55%;
  min-width: 91%;
  margin-left: -4px !important;
  width: 50%;
  background: linear-gradient(0deg, rgba(234, 237, 240, 1) 5%, rgba(255, 255, 255, 0.685) 40%);
}

.centerBaseMaintenance {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0px;
  transform: translate(-50%, -50%);
  border-radius: 15px 15px 15px 15px;
  min-height: 60%;
  min-width: 75%;
  margin-left: 90px !important;
  width: 50%;
  background: linear-gradient(0deg, rgba(234, 237, 240, 1) 5%, rgba(255, 255, 255, 0.685) 40%);
}

.centerBaseCount {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0px;
  transform: translate(-50%, -50%);
  border-radius: 15px 15px 15px 15px;
  min-height: 47%;
  min-width: 91%;
  margin-left: -4px !important;
  width: 50%;
  background: linear-gradient(0deg, rgba(234, 237, 240, 1) 5%, rgba(255, 255, 255, 0.685) 40%);
}

.centerBaseStockCard {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0px;
  transform: translate(-50%, -50%);
  border-radius: 15px 15px 15px 15px;
  min-height: 47%;
  min-width: 92%;
  margin-left: -4px !important;
  width: 50%;
  background: linear-gradient(0deg, rgba(234, 237, 240, 1) 5%, rgba(255, 255, 255, 0.685) 40%);
}
.icon{
  color: #5DADE2;
}

.text {
  user-select: none;
}