:root {
  --detail-header-border: 0.1rem solid #dee2e6;
}

body,
html {
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"),
    url("../assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Bold"),
    url("../assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.react-grid-item.react-grid-placeholder {
  background: #53a6ec !important;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.detailHeader {
  border-top: none;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top: 0px;
  height: 2.5rem;
}

.detailBottom {
  border-bottom: none;
  padding-top: 10px;
  margin-top: 25px;
}

@media screen and (max-height: 1200px) {
  .detailDataGrid {
    max-height: 270px;
    height: 270px;
  }
}

@media screen and (max-height: 900px) {
  .detailDataGrid {
    max-height: 280px;
    height: 280px;
  }
}

@media screen and (max-height: 800px) {
  .detailDataGrid {
    max-height: 230px;
    height: 230px;
  }
}

@media screen and (max-height: 700px) {
  .detailDataGrid {
    max-height: 180px;
    height: 180px;
  }
}

@media screen and (max-height: 600px) {
  .detailDataGrid {
    max-height: 130px;
    height: 130px;
  }
}

@media screen and (max-height: 500px) {
  .detailDataGrid {
    max-height: 80px;
    height: 80px;
  }
}



